
/* RESPONSIVE */

/* TABLET */
@media (min-width: 768px) {


    /* tablet: NAVIGATION */

    .nav-links a {
        font-size: 20px;
    }

    /* tablet: FOOTER */

    footer {
        margin-top: 2rem;
    }


    /* tablet: HOME */

    .main-home h1 {
        font-size: calc(var(--mobile-title-size)*2);
        margin: 0 0 2rem 0;
    }

    .slider {
        height: 600px;
    }

    .slide img {
        width: 500px;
    }

    .description p {
        font-size: var(--mobile-h2-size);
        font-weight: var(--lato-light);
    }

    .slider-btn.left,
    .slider-btn.right,
    .pause-play {
        font-size: 3rem;
    }


    /* tablet: ABOUT */


    .main-about h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-about {
        margin: 4rem 4rem;
    }

    .introduction {
        font-size: var(--body-font-size);
        font-weight: var(--lato-light);
        border: solid 2px var(--rose);
        padding: var(--padding-button);
        border-radius: 5px;
    }

    .introduction-left {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .introduction-right {
        display: flex;
        gap: 2rem;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin-bottom: 6rem;
    }


    /* tablet: ABOUT - CV-BUTTON */

    .cv {
        display: flex;
        justify-content: center;
    }

    .cv a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* tablet: ABOUT - CONTACT FORM */

    .main-about h2 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .contact-form form {
        width: 70%
    }

    form span {
        font-size: calc(var(--body-font-size)*1.5);
        margin-bottom: 1rem;
    }

    form button {
        align-self: start;
        font-size: calc(var(--body-font-size)*1.5);
        margin: 4rem 0;
    }


    /* tablet: PROJECTS */

    .main-projects {
        margin: 2rem 4rem 4rem 4rem;
    }

    .main-projects h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-projects p {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* grid */
    .projects-wrap {
        display: grid;
        gap: 2rem;
        grid-template-rows: repeat(6, 1fr);
    }


    /* PROJECTS - DATENBANK */

    .post {
        margin: 2rem 0;
    }

    /* bilder */
    .post img {
        width: 70%;
    }

    /* Titel (BUTTON) Projekte aus Datenbank */
    .project-title {
        margin: 3rem 0;
    }

    .project-title a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* Beschreibung Projekte aus Datenbank */
    .project-description {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-light);
        margin: 0 0 1rem 0;
    }

    /* Arbeitsart Projekte aus Datenbank */
    .project-type {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-light);
    }


    /* tablet: IMPRESSUM */

    .main-impressum h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: center;
        margin: 2rem 0;
    }

    .main-impressum p {
        font-size: calc(var(--body-font-size)*2);
        font-weight: var(--lato-light);
        line-height: 4rem;
    }


    /* tablet: DATENSCHUTZ */

    .main-datenschutz h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-datenschutz h2 {
        font-weight: var(--lato-bold);
    }



    /* tablet: REGISTRIEREN - FORM */
    .main-registration h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
    }

    .registration-form form {
        width: 70%;
    }

     /* tablet: LOGIN - FORM */
    .main-login h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
    }

    .login-form form {
        width: 70%;
    }

    button.login {
        align-self: center;
        font-size: calc(var(--body-font-size)*1.5);
    }

    .registration-link a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    

}






/* DESKTOP */
/* desktop: NAVIGATION // bis 1199px width: mobile-navigation  */
@media (max-width: 1199px) {

    .desktop-navigation {
        display: none;
    }
    .desktop-nav-cms {
        display: none;
    }
}

/* desktop: NAVIGATION // ab 1200px width: desktop-navigation  */
@media (min-width: 1200px) {

    .mobile-navigation {
        display: none;
    }
    .mobile-nav-cms {
        display: none;
    }


    /* desktop: FOOTER */

    footer {
        flex-direction: row;
        padding: 2rem 4rem;
    }

    .contact-icons {
        gap: 1.5rem;
    }

    .contact-icons a {
        font-size: 3rem;
    }

    .footer-links {
        display: flex;
        gap: 1rem;
    }

    .footer-links a {
        font-size: 1.5rem;
        font-weight: var(--lato-light);
    }

    .copyright {
        margin: 0;
    }


    /* desktop: HOME */

    .main-home {
        padding: 2rem 2rem 0rem;
    }

    .main-home h1 {
        font-size: calc(var(--mobile-title-size)*3);
    }

    /* HOME - IMAGE-SLIDER */

    .slide {
        display: flex;
    }

    .description p {
        font-size: calc(var(--mobile-h2-size)*1.5);
        font-weight: var(--lato-light);
        margin: 2rem 0 4rem 0;
    }

    .container-buttons {
        justify-content: space-evenly;
    }

    .slider-btn.left,
    .slider-btn.right {
        font-size: 4rem;
    }

    .pause-button {
        font-size: 4rem;
    }


    /* desktop: ABOUT */

    .main-about h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
    }

    .introduction {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-light);
        padding: var(--padding-button);
    }

    .introduction-left {
        padding: 0 6rem;
    }

    .introduction-right {
        padding: 0 6rem;
        ;
    }

    .main-about h2 {
        font-size: calc(var(--mobile-h2-size)*2);
    }

    /* ABOUT - CONTACT-FORM */

    .contact-form form {
        width: 50%;
    }

    form label,
    form input {
        font-size: calc(var(--body-font-size)*1.5);
    }

    form input {
        margin-bottom: 1rem;
    }

    form select {
        font-size: calc(var(--body-font-size)*1.5);
    }


    /* desktop: PROJECTS */

    .main-projects {
        margin: 2rem 4rem;
    }

    .main-projects p {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* grid */
    .projects-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        grid-template-rows: repeat(3, 1fr);
        margin: 5rem;
    }


    /* PROJECTS - DATENBANK */

    .post {
        margin: 2rem 0;
    }

    /* Titel (BUTTON) Projekte aus Datenbank */
    .project-title {
        margin: 3rem 0;
    }

    .project-title a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* Beschreibung Projekte aus Datenbank */
    .project-description {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-light);
        margin: 0 4rem 1rem 4rem;
    }

    /* Arbeitsart Projekte aus Datenbank */
    .project-type {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-light);
    }


    /* desktop: DATENSCHUTZ */

    .main-datenschutz h2 {
        font-size: calc(var(--body-font-size)*1.5);
        font-weight: var(--lato-bold);
    }

    .main-datenschutz p {
        font-size: calc(var(--body-font-size)*1.5);
    }


    /* desktop: REGISTRIEREN - FORM */

    .registration-form form {
        width: 50%;
    }

    .registration-form label {
        margin-bottom: 0.7rem;
    }

    /* desktop: LOGIN - FORM */

    .login-form form {
        width: 50%;
    }

    .login-form label {
        margin-bottom: 1rem;
    }


    /* desktop: SIDEBAR-NAVIGATION-CMS */

    .sidenav-cms {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        height: 100%;
        width: 12rem;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: var(--darkblue);
        overflow-x: hidden;
        padding-top: 1rem;
    }

    .sidenav-cms img {
        margin: 0.5rem 0 0.5rem 2rem;
    }

    .sidenav-cms a {
        text-decoration: none;
        font-size: var(--mobile-h2-size);
        color: var(--white);
        padding: 1rem 0 1rem 2rem;
    }

    .sidenav-cms a:hover {
        color: var(--rose);
        text-decoration: underline;
    }

    .sidenav-cms a:last-child {
        color: var(--rose);
        margin-top: 8rem;
    }

    .sidenav-cms a:last-child:hover {
        color: var(--white);
    }

    /* dasktop: DASHBOARD-CMS */

    .success-message{ 
    margin: 0 0 1rem 2rem;
    color: blue;
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--lato-regular);
    }

    .main-dashboard-cms {
        margin: 0 0 0 12rem;
    }

    .main-dashboard-cms h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .new-project-btn {
        height: 6rem;
        width: 300 px;
        margin: 2rem 0 2rem 2rem;
    }

    /* desktop: EDIT HOME - CMS */
    .main-edit-home-cms {
        margin: 0 0 0 12rem;
    }

    .main-edit-home-cms h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .edit-home {
        width: 70%;
        margin: 0 0 0 2rem;
    }

    .edit-home label {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* desktop: EDIT ABOUT - CMS */
    .main-edit-about-cms {
        margin: 0 0 0 12rem;
    }

    .main-edit-about-cms h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .edit-about {
        width: 70%;
        margin: 0 0 0 2rem;
    }

    .edit-about label {
        font-size: calc(var(--body-font-size)*1.5);

    }

    /* desktop: EDIT PORTFOLIO - CMS */
    .main-edit-portfolio-cms {
        margin: 0 0 0 12rem;
    }

    .main-edit-portfolio-cms h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .edit-portfolio {
        width: 70%;
        margin: 0 0 0 2rem;
    }

    .edit-portfolio label {
        font-size: calc(var(--body-font-size)*1.5);

    }

    /* desktop: EDIT PROJECTS - CMS */
    .main-edit-projects-cms {
        margin: 0 0 0 12rem;
    }

    .main-edit-projects-cms h1 {
        text-align: start;
        font-size: calc(var(--mobile-h1-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .main-edit-projects-cms h2 {
        text-align: start;
        font-size: calc(var(--mobile-h2-size)*1.5);
        margin: 2rem 0 2rem 2rem;
    }

    .project-upload label {
        font-size: calc(var(--body-font-size)*1.5);
    }

    .form-check {
        width: 70%;
        margin: 0 0 0 2rem;
    }

    .feedback, .error-messages {
        font-size: calc(var(--body-font-size)*1.5);
    }

}