
/* TABLET */
@media (min-width: 768px) {


/* tablet: NAVIGATION */

    .nav-links a {
        font-size: 20px;
    }


/* tablet: HOME */

    .main-home h1 {
        font-size: calc(var(--mobile-title-size)*2);
        margin: 0;
    }

    .container-slider {
        width: 600px;
        height: 601px;
    }

   


/* tablet: ABOUT */


    .main-about h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-about {
        margin: 4rem 4rem;
    }


    .main-about p {
        font-size: calc(var(--body-font-size));
    }


    /* ABOUT - CV */ 

    .cv {
        display: flex;
        justify-content: flex-start;
    }

    .cv a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    /* ABOUT - SKILLS BARS */ 

    /* .skills-bars div {
        font-size: calc(var(--body-font-size)*1.5);
        width: 70%
    } */

    /* ABOUT - CONTACT FORM */ 

    .main-about h2 {
        font-size: calc(var(--mobile-h2-size)*2); 
        text-align: start;
        margin: 2rem 0;
    }
    
    .contact-form form {
        width: 70%
    }

    form button {
        align-self: start;
        font-size: calc(var(--body-font-size)*1.5);
        margin: 4rem 0;
    } 


/* tablet: PROJECTS */

    .main-projects {
        margin: 4rem 4rem;
    }

    .main-projects h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-projects p {
        font-size: calc(var(--body-font-size));
    }

    /* .projects-wrap {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-template-rows: repeat(2, 1fr);
    } */

    /* PROJECTS GRID */
    /* statisch */
    /* .screendesign {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .wireframes {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .designelemente {
        grid-column: 1/2;
        grid-row: 2/3;
    } */


    .project-img {
        width: 50%;
    }

    .project-title {
        margin: 1rem 0;
    }

    .project-title a {
        font-size: calc(var(--body-font-size)*1.5);
    }

    .project-description {
        margin: 1rem 1rem;
    }

    .project-type {
        margin: 0.2rem 1rem 2rem 1rem;
    }


/* tablet: DESIGNELEMENTE */

    .main-projects-designelemente h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-projects-designelemente p {
        font-size: calc(var(--body-font-size));
    }


/* tablet: IMPRESSUM */

    .main-impressum h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: center;
        margin: 2rem 0;
    }

    .main-impressum p {
        font-size: calc(var(--body-font-size));
    }

/* tablet: DATENSCHUTZ */

    .main-datenschutz h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
        text-align: start;
        margin: 2rem 0;
    }

    .main-datenschutz h2 {
        font-size: calc(var(--mobile-h2-size)); 
    }

    .main-datenschutz p {
        font-size: calc(var(--body-font-size));
    }

}




/* DESKTOP */
/* desktop: NAVIGATION // bis 1199px width: mobile-navigation  */
@media (max-width: 1199px) {

    .desktop-navigation {
        display: none;
    }
}

/* desktop: NAVIGATION // ab 1200px width: desktop-navigation  */
@media (min-width: 1200px) {
        
    .mobile-navigation {
        display: none;
    }

/* desktop: FOOTER */

    footer {
        flex-direction: row;
        padding: 0.5rem 3rem;
    }

    .contact-icons {
        gap: 1rem;
    }

    .contact-icons a {
        font-size: 2rem; 
    }

    .footer-links {
        display: flex;
        gap: 1rem;
    }

    .copyright {
        margin: 0;
    }

/* desktop: HOME */

    .main-home {
        padding: 4rem 2rem;
        

    .main-home h1 {
        font-size: calc(var(--mobile-title-size)*4);
    }

    .container-slider {
        width: 600px;
        height: auto;
    }

    .slider {
    
    }

    .slide {
        display: flex;

    }

    .container-buttons {
        justify-content: space-evenly;
    }


/* desktop: ABOUT */


    .main-about h1 {
        font-size: calc(var(--mobile-h1-size)*1.5);
    }

    .main-about p {
        font-size: calc(var(--body-font-size));
    }

    .main-about h2 {
        font-size: calc(var(--mobile-h2-size)*2); 
    }

    .contact-form form {
        width: 50%
    }


/* desktop: PROJECTS */

    .projects-wrap {
        grid-template-columns: repeat(2, 40%);
        gap: 5rem;
        grid-template-rows: repeat(3, 1fr);
    }

    /* statisch */
    /* .screendesign {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .wireframes {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .designelemente {
        grid-column: 3/4;
        grid-row: 1/2;
    } */
}

}
