/* IMPORT FONT FACES */
@font-face {
    font-family: 'Lato';
    font-weight: 600;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url('../fonts/Lato/Lato-Light.ttf');
}


/* BODY */

body {
    color: var(--darkblue);
    background: var(--gray);
    font-family: var(--main-font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}


/* NAVIGATION */
/* desktop */

.desktop-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: var(--gray);
}

.desktop-navigation img {
    height: 60px;
}

.desktop-navigation > ul {
    display: flex;
    gap: 6rem;
    list-style: none;
    margin: 1rem 0 1rem 0;
}

.desktop-navigation ul a {
    color: var(--darkblue);
    text-decoration: none;
    font-size: calc(var(--nav-font-size)*1.5);
    font-weight: var(--lato-light);
}

.desktop-navigation ul a:hover {
    color: var(--rose);
    text-decoration: underline;
}


/* NAVIGATION */
/* mobile & tablet */

.mobile-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: var(--gray);
    padding: 0 1rem;
}

.mobile-navigation img {
    position: relative;
    padding: 0 0 0 1rem;
    height: 60px;
}

.hamburger-button {
    position: relative;
    padding: 0 1rem 0 0;
    color: var(--darkblue);
    background: none;
    border: none;
    font-size: 2.5rem;
}


/* MOBILE NAVIGATION - OVERLAY BURGER-MENU */

.overlay-nav {
    display: none;
    /*block = visible*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--rose);
    z-index: 2;
}

.overlay-nav.active {
    display: block;
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    color: var(--darkblue);
    background: none;
    border: none;
    font-size: 2.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30vh 0 0 0;
}

.nav-links li {
    padding: 2rem 0 0 0;
}

.nav-links li a {
    text-decoration: none;
    color: var(--darkblue);
    font-size: var(--mobile-h2-size);
    font-weight: var(--lato-light);
}

.nav-links li a:hover {
    text-decoration: underline;
}


/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background: var(--gray);
}

footer p {
    font-size: var(--body-font-size);
    display: flex;
    align-items: center;
}

.contact-icons {
    display: flex;
    gap: 2rem;
}

.contact-icons a {
    color: var(--darkblue);
    font-size: 3rem;
}

.contact-icons a:hover {
    color: var(--rose);
}


.footer-links {
    display: none;
}

.footer-links a {
    display: flex;
    align-items: center;
    color: var(--darkblue);
    text-decoration: none;
    font-size: var(--body-font-size);
}

.footer-links a:hover {
    color: var(--rose);
    text-decoration: underline;
}

.copyright {
    display: flex;
    align-items: center;
    font-size: var(--mobile-h6-size);
    font-weight: var(--lato-regular);
    margin: 0.5rem 0 0 0;
}


/* MAIN */
main {
    flex-grow: 2;
}


/* MAIN-HOME */

.main-home {
    margin: 0 2rem;
}

.main-home h1 {
    text-align: center;
    text-wrap: balance;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    margin: 2rem 0;
}


/* MAIN-HOME - IMAGE-SLIDER */

/*container*/
.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

/*images*/
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    opacity: 0;
}

.slide img {
    width: 296px;
}

.slide.left {
    left: -100%;
}

.slide.right {
    left: 100%;
}

.slide.active {
    left: 0;
    opacity: 1;
    transition: 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide:not(.active) {
    transition: 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.description p {
    text-align: center;
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
    margin: 2rem 0;
}

.container-buttons {
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-btn.left,
.slider-btn.right {
    color: var(--darkblue);
    background: none;
    border: none;
    font-size: 2rem;
}

.slider-btn.left:hover,
.slider-btn.right:hover {
    color: var(--rose);
}

.control-container {
    width: 40px;
}

.pause-play {
    color: inherit;
    background: none;
    border: none;
    font-size: 2rem;
}

.pause-play.start {
    color: var(--rose);
}

.hidden {
    display: none;
}

.container-buttons button:hover {
    cursor: pointer;
}

/* ABOUT */

.main-about {
    margin: 0 2rem;
}

.main-about h1 {
    text-align: center;
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0;
}


/* ABOUT - INTRODUCTION */

.introduction {
    text-align: start;
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
    margin-bottom: 2rem;
    text-wrap: balance;
}

.main-about .me {
    margin-top: 2rem;
}

.about-me img {
    width: 296px;
}


/* PROGRESS BARS - zu einem späteren Zeitunkt */

/* CONTAINER AUSSEN*/
/* 
.skills-bars {
    margin-bottom: 2rem;
}

.skills-bars p {
    text-align: start;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--p-font-weight);
    margin: 0.5rem;
}

.skills-bars div {
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--p-font-weight);
} */

/* CONTAINER INNEN */
/* .skills-container {
    border: 1px solid var(--darkblue);
}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    color: var(--darkblue);
    border-radius: 0 5px 5px 0;
}

.ps {
    width: 60%;
    background: var(--rose);
}
.ai {
    width: 70%;
    background: var(--rose);
}
.xd {
    width: 90%;
    background: var(--rose);
}
.id {
    width: 60%;
    background: var(--rose);
}
.html {
    width: 60%;
    background: var(--rose);
}
.css {
    width: 50%;
    background: var(--rose);
} */


/* ABOUT - BUTTON CV */

.cv {
    display: flex;
    justify-content: center;
    margin: 4rem 0 2rem 0;
}

.cv a {
    color: var(--rose);
    background: var(--white);
    text-decoration: none;
    font-size: var(--mobile-h2-size);
    font-weight: var(--lato-bold);
    padding: var(--padding-button);
    border-radius: 5px;
}

.cv a:hover {
    text-decoration: underline;
}

/* ABOUT - CONTACT-FORM */

.main-about h2 {
    text-align: center;
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 0.5rem;
}

form label,
form input {
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
}

form input {
    padding: 0.7rem;
    margin-bottom: 0.7rem;
    border: none;
    border-radius: 5px;
    font-family: var(--main-font-family);
}

/* Hide Arrows from Input Number */
form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

form select {
    color: var(--darkblue);
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--lato-regular);
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

form textarea {
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: var(--darkblue);
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--lato-regular);
    border: none;
    border-radius: 5px;
}

form small {
    padding-top: 0.5rem;
    font-weight: var(--lato-regular);
}

/* Error Message Form */
form span {
    margin-bottom: 1rem;
    color: red;
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--p-font-weight);
}

form button {
    align-self: center;
    margin: 2rem 0 2rem 0;
    padding: var(--padding-button);
    color: var(--rose);
    background: var(--white);
    text-decoration: none;
    font-size: var(--mobile-h2-size);
    font-weight: var(--lato-bold);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    text-decoration: underline;
}


/* PROJECTS */
.main-projects {
    margin: 0 2rem;
}

.main-projects h1 {
    text-align: center;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem;
}

.main-projects p {
    text-align: start;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--p-font-weight);
    margin-bottom: 2rem;
}

.projects-wrap {
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(6, 1fr);
}


/* PROJECTS - DATENBANK */
.post {
    width: 100%;
    list-style: none;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 1rem 0;
    margin: 0 0 2rem 0;

}

/* bilder */
.post img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    border: none;
    margin-bottom: 1rem;
}

.project-img {
    display: flex;
    justify-content: center;
}

/* Titel (BUTTON) Projekte aus Datenbank */
.project-title {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem 0 0.5rem 0;
}

.project-title a {
    text-decoration: none;
    color: var(--rose);
    background: var(--white);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--lato-bold);
    border-radius: 5px;
    padding: var(--padding-button);
    background: var(--gray);
}

.project-title a:hover {
    text-decoration: underline;
}

/* Beschreibung Projekte aus Datenbank */
.project-description {
    text-align: center;
    text-wrap: balance;
    color: var(--darkblue);
    list-style: none;
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    margin: 1rem 0;
}

/* Arbeitsart Projekte aus Datenbank */
.project-type {
    display: flex;
    justify-content: flex-start;
    color: var(--darkblue);
    list-style: none;
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    margin: 0.2rem 0 2rem 0;
}


/* IMPRESSUM */
.main-impressum {
    margin: 0 2rem;
}

.main-impressum h1 {
    text-align: center;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0 4rem 0;
}

.main-impressum p {
    text-align: center;
    text-wrap: pretty;
    line-height: 2rem;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
    margin-bottom: 2rem;
}


/* DATENSCHUTZ */
.main-datenschutz {
    margin: 0 2rem;
}

.main-datenschutz h1 {
    text-align: center;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0 4rem 0;
}

.main-datenschutz h2 {
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--mobile-h4-size);
    font-weight: var(--lato-bold);
}

.main-datenschutz p {
    text-align: start;
    text-wrap: pretty;
    color: var(--darkblue);
    font-family: var(--main-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
    margin-bottom: 2rem;
}

p.subtitle {
    margin: 0;
}

/* REGISTRIEREN */
.main-registration {
    margin: 0 2rem;
}


.main-registration h1 {
    text-align: center;
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0;
}

/* REGISTRIEREN - FORM */
.registration-form form {
    display: flex;
    flex-direction: column;
}

form legend {
    margin-bottom: 0.5rem;
    font-size: var(--body-font-size);
    font-weight: var(--lato-regular);
}

.radio-registration {
    margin-bottom: 0.5rem;
    padding-left: 2rem;
}

.checkbox-registration {
    margin-top: 0.5rem;
    padding-left: 2rem;
}

/* LOGIN */

.main-login {
    margin: 0 2rem;
}

.main-login h1 {
    text-align: center;
    font-size: var(--mobile-h1-size);
    font-weight: var(--lato-light);
    margin: 2rem 0;
}

.registration-link {
    display: flex;
    justify-content: center;
}

.registration-link a {
    text-decoration: none;
    font-size: var(--body-font-size);
    color: var(--rose);
    background-color: var(--white);
    font-weight: var(--lato-bold);
    padding: 1rem;
    border-radius: 5px;
}

.registration-link a:hover {
    text-decoration: underline;
}

/* LOGIN - FORM */

.login-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    justify-content: center;
}

button.login {
    font-size: var(--body-font-size);
    color: var(--darkblue);
    background-color: var(--rose);
    font-weight: var(--lato-bold);

}




/* CMS - CONTENT MANAGEMENT SYSTEM */

/* NAVIGATION-CMS */
/* mobile & tablet */

.mobile-nav-cms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: var(--gray);
    padding: 0 1rem;
}

.mobile-nav-cms img {
    position: relative;
    padding: 0 0 0 1rem;
    height: 60px;
}

/* (HAMBURGER & OVERLAY bei MOBILE-NAVIGATION) */



/* DASHBOARD - CMS */

.main-dashboard-cms {
    margin: 0 2rem;
}

.main-dashboard-cms h1 {
    text-align: center;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    color: var(--darkblue);
    margin: 1rem 0 2rem 0;
}

.new-project-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    border: none;
    border-radius: 5px;
    height: 4rem;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.new-project-btn a {
    color: var(--darkblue);
    text-decoration: none;
    font-size: var(--mobile-h2-size);
    font-weight: var(--lato-light);
}

.new-project-btn a:hover {
    text-decoration: underline;
}

.new-project-btn i {
    color: var(--rose);
    font-size: var(--mobile-h2-size);
}


/* EDIT HOME - CMS */
.main-edit-home-cms {
    margin: 0 2rem;
}

.main-edit-home-cms h1 {
    text-align: center;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    color: var(--darkblue);
    margin: 1rem 0 2rem 0;
}

.edit-home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.edit-home label {
    font-size: var(--body-font-size);
}

.edit-home button {
    font-size: var(--body-font-size);
}


/* EDIT ABOUT - CMS */
.main-edit-about-cms {
    margin: 0 2rem;
}

.main-edit-about-cms h1 {
    text-align: center;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    color: var(--darkblue);
    margin: 1rem 0 2rem 0;
}

.edit-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.edit-about label {
    font-size: var(--body-font-size);
}

.edit-about button {
    font-size: var(--body-font-size);
}

/* platzhalter für bilder */
.img-top, .img-bottom {
    height: 250px;
    width: 250px;
    background-color: antiquewhite;
    margin-bottom: 1rem;
}

.label-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.label-container i:hover {
    color: var(--rose);
    cursor: pointer;
}

/* EDIT PROJECTPAGE - CMS */
.main-edit-projectpage-cms {
    margin: 0 2rem;
}

.main-edit-projectpage-cms h1 {
    text-align: center;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    color: var(--darkblue);
    margin: 2rem 0 2rem 0;
}

.edit-projectpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}

.edit-projectpage label {
    font-size: var(--body-font-size);
}

.edit-projectpage button {
    font-size: var(--body-font-size);
}


/* EDIT PROJECTS - CMS */

.main-edit-projects-cms {
    margin: 0 2rem;
}

.main-edit-projects-cms h1 {
    text-align: center;
    font-size: var(--mobile-title-size);
    font-weight: var(--lato-light);
    color: var(--darkblue);
    margin: 1rem 0 2rem 0;
}

.main-edit-projects-cms h2 {
    text-align: center;
    font-weight: var(--lato-light);
    font-size: var(--mobile-h1-size);
    color: var(--darkblue);
    margin: 3rem 0 2rem 0;
}

.project-upload label {
    font-size: var(--body-font-size);
    color: var(--darkblue);
}

.form-check {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
}
.form-check button {
    font-size: var(--body-font-size);
}

.feedback {
    margin-bottom: 1rem;
    color: blue;
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--lato-regular);
}

.error-messages {
    margin-bottom: 1rem;
    color: red;
    font-size: var(--body-font-size);
    font-family: var(--main-font-family);
    font-weight: var(--lato-regular);
}
